In [28]:
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import numpy as np
import matplotlib.pyplot as plt

In [5]:
iris_data = read_csv('iris.csv')
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# Step 3: Split the data in training and testing subsets
D = iris_data.values
x = D[:,0:4]
y = D[:,4]
x_tr, x_ts, y_tr, y_ts = train_test_split(x,y,test_size=0.20)

In [7]:
model = SVC()
model.fit(x_tr,y_tr)

SVC()

In [9]:
predict_flower = model.predict(x_ts)
print("Accuracy: ",accuracy_score(y_ts, predict_flower))

Accuracy:  0.9666666666666667